@mixin my-button($color) {
  background-color: $color;
  height: 80px;
  width: 80px;
  outline: none;
  border-radius: 50%;
  border: 0;
}


.components-bar {
  background-color: rgb(187, 69, 56);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.new-dir {
  @include my-button(aqua);
}

.new-note {
  @include my-button(red);
}