.components-bar {
  background-color: salmon;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // align-items: 
  padding: 20px;
}

.new-dir {
  background-color: aqua;
}

.new-note {
  background-color: green;
}