.draggable {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__span {
    color: white;
  }
  height: auto;
  width: auto;
}

.draggable-clicked {
  background-color: rgba(135, 207, 235, 0.384);
}